<div class="recipe_search">
	<% remote_form_for Recipe.new, :html => { :id => 'recipe_search', :autocomplete => "off", :class => 'wide_form' } do |f| -%>
		<%= f.label :search_name, 'Název receptu <span class="minor">— Vyhledávání</span>' %>
		<%= f.text_field :name, :id => 'recipe_search_name' %>
		
		<%= hidden_field_tag :recipe_search_sender %>
	<% end -%>
</div>

<%= observe_form(:recipe_search,
	:url => { :action => :recipe_search },
	:frequency => 0.7 )%>